.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center;
  padding: 0;
  background-color: white;
  margin: 0; /* Remove default margin */
  height: 100px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-link:hover {
  color: #555;
}

.nav-container {
  max-width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
}

.blog-logo {
  margin-left: 1.9em;
  font-size: 35px;
}

/* Post container */
.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.post-card {
  margin: 20px;
  width: 250px;
  word-wrap: break-word;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 15px 15px 15px whitesmoke;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Description */

.description {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 0 4em;
  padding-bottom: 2em;
  border: 1px solid whitesmoke;
}

.description h1 {
  width: 10em;
  font-size: 2.5em;
}

.description p {
  max-width: 30em;
}
